<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.work.theIsle">

    <application
        android:name=".app.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_isle_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_isle_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheIsle"
        tools:replace="android:icon"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="PGYER_API_KEY"
            android:value="74ccdc5e3947229728128b6e97f07128"></meta-data>
        <meta-data
            android:name="PGYER_FRONTJS_KEY"
            android:value="a17b2a3a3d9fbeb4421278c1b3ec5de2"></meta-data>

        <!--添加新版本检测-->
        <meta-data
            android:name="PGYER_FEATURE_CHECK_UNPDATE"
            android:value="true"></meta-data>
    </application>

</manifest>