<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.work.theIsle">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_isle_launcher"
        android:label="${APP_NAME}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_isle_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheIsle"
        tools:replace="android:icon,android:label"
        tools:targetApi="n">
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".coroutine.CoroutineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coroutine.CoroutineActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".qinghua.UomgDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coroutine.flow.FlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coroutine.CoroutineContextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coroutine.scope.CoroutineScopeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coroutine.scope.CoroutineScopeByActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".coroutine.CoroutineViewModelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".coroutine.CoroutineExceptionHandlerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".dagger.DaggerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity android:name=".dagger.DaggerActivity2"
            android:exported="false"
            android:screenOrientation="portrait"
            />

        <meta-data
            android:name="PGYER_API_KEY"
            android:value="${PGYER_API_KEY}" />
        <meta-data
            android:name="PGYER_FRONTJS_KEY"
            android:value="${PGYER_FRONTJS_KEY}" /> <!-- 添加新版本检测 -->
        <meta-data
            android:name="PGYER_FEATURE_CHECK_UNPDATE"
            android:value="true" />
    </application>

</manifest>